// Estilo de Botón
button {
  background-color: $primary-color;
  color: $text-color1;
  border: none;
  padding: 8px 15px; // Ajusta el padding según sea necesario
  border-radius: 5px;
  cursor: pointer;

  &:hover {
      background-color: $button-hover-background-color;
  }
}
