
/* Media Query para pantallas pequeñas */
@media screen and (max-width: $small-screen) {

  .container {
    margin-left: 25px;
    margin-right: 25px;
  }

  #licencia{
    display: none;
  }

}

// Media Query para pantallas medianas
@media screen and (min-width: $medium-screen-min) and (max-width: $large-screen-min) {
  #nombreEmpresa {
    display: none; // Oculta elementos con las clases .barra-lateral y .nombreEmpresa
  }
}
