// Variables tipografía
$font-family: Arial,
sans-serif; // Fuente para tipografía general

// Variables de colores
$primary-color: #3498db; // Color principal 
$secondary-color: #88D2EF; // Color secundario

$background-color: white; // Color de fondo
$button-hover-background-color: #2b78c4; // Color de fondo al pasar el ratón sobre un botón

$text-color1: white; // Color 1 de texto principal
$text-color2: black; //Segundo color para textos general
$text-color3: #4D4D4D; // Tercer color para textos general
$card-border-color: grey; // Color del borde de las tarjetas de los productos
$card-text-color: black; // Color de texto en las tarjetas de los productos

$focus-color: black; // Color al enfocar en formulario
$error-color: #e74c3c; // Color de error en formulario
$success-color: #2ecc71; // Color de éxito en formulario

$input-border-color: grey; // Color del borde de los campos de entrada

$register-label-color: black; // Color de etiquetas en el formulario de registro

// Variables valores para los distintos tamaños de pantallas

$small-screen: 600px; // Pantallas pequeñas
$medium-screen-min: 767.5px; // Pantallas medianas (mínimo)
$medium-screen-max: 990px; // Pantallas medianas (máximo)
$large-screen-min: 991.20px; // Pantallas grandes (mínimo)

// Configuración estandar para todas las pantallas
body {
    font-family: $font-family;
    margin: 0;
    padding: 0;
    min-width: 440px;
}

/* Estilos generales */
body {
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Estilos para el tema claro */
  body.bg-light {
    background-color: #ffffff;
    color: #000000;
  }
  
  body.bg-light #content nav ol {
    background-color: #B0E4FF;
  }
  
  /* Estilos para el tema oscuro */
  body.bg-dark {
    background-color: #2d2d2d;
    color: #ffffff;
  }
  
  /* Estilos adicionales para el tema oscuro */
  body.bg-dark button {
    background-color: #343a40;
    color: #ffffff;
  }
  
  body.bg-dark header {
    background-color: #343a40;
    color: #ffffff;
  }
  
  body.bg-dark footer {
    background-color: #343a40;
    color: #ffffff;
  }
  
  body.bg-dark ol {
    background-color: #333333;
  }
  
  body.bg-dark .breadcrumb-item a {
    color: #ffffff;
  }
  
  body.bg-dark .breadcrumb li+li::before {
    color: #ffffff;
  }
  
  /* Estilos adicionales para el tema oscuro del formulario */
  body.bg-dark .formulario {
    background-color: #343a40;
    color: #ffffff;
    border: 1px solid #ffffff;
  }
  
  body.bg-dark .formulario legend {
    color: #ffffff;
  }
  
  body.bg-dark .formulario .form-group label {
    color: #ffffff;
  }
  
  body.bg-dark .formulario .form-control {
    background-color: #495057;
    color: #ffffff;
    border-color: #ffffff;
  }
  
  body.bg-dark .formulario select.form-control {
    background-color: #495057;
    color: #ffffff;
    border-color: #ffffff;
  }
  
  /* Estilos adicionales para el tema oscuro de los placeholders en el formulario */
  body.bg-dark .formulario ::placeholder {
    color: #a8a8a8;
  }

  body.bg-light #luna {
  }

  body.bg-light #sol {
    display: none;
  }

  #luna{
    width: 40px;
  }
