/* Centra verticalmente el contenido del encabezado en la barra de navegación */
header {

  img {
    border-radius: 50%;
    background-color: #8BD0FA;
  }

  #nombreEmpresa {
    margin: 0;
    text-align: center;
  }

  .custom-font {
    font-size: 30px;
  }

  .navbar-nav {
    margin-left: auto;
    text-align: center;


    .navbar-nav .nav-link {
      margin: 0.25rem;
    }
  }
}

.navbar-custom {
  background-color: #3498db;
}