  #elementosInicio {

    #video-fondo {
      position:fixed;
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: 5;
    }

    #cerrar-video-fondo {
      position: fixed;
      top: 10px;
      right: 10px;
      cursor: pointer;
      background-color: black;
      color: #fff;
      border: none;
      border-radius: 50%;
      font-size: 24px;
      z-index: 6;
    }

    #panel {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 20px;
      box-sizing: border-box;
      opacity: 0;
      animation-name: deslizar;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      animation-delay: 3s;
      animation-fill-mode: forwards;
      z-index: 7;
    }

    @keyframes deslizar {
      from {
        transform: translateY(100%);
        opacity: 0;
      }

      to {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  // Estilo para el "contenido-principal"
  #contenido-principal {
    grid-area: contenido; // Utiliza el área de la cuadrícula llamada "contenido"
    display: flex;
    flex-wrap: wrap; // Permite que los elementos se envuelvan en múltiples líneas si no caben en una sola
    justify-content: space-around;
    margin: 10px;
  }

  // Estilo para el texto usoImagenes
  .usoImagenes {
    font-weight: bold;
  }
