#sidebar {
    padding: 0;
    min-width: 175px;
}

#categorias ul.list-unstyled li:hover,
#categorias ul.list-unstyled li.hovered {
    padding-left: 5px;
    border-radius: 15px;
    background-color: #007bff;
    color: #fff;
}

#categorias ul.list-unstyled li.active {
    padding-left: 5px;
    border-radius: 15px;
    background-color: #0056b3;
    color: #fff;
}

#desmarcarBtn{
    margin-bottom: 10px;
}

.tituloLat{
    font-size: 30px;
}